In [1]:
'''1. Drop age from the dataframe
we would use the drop method and the values are being stored in new frame
axis=1 for the columns
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
new=df.drop(['Age'],axis=1)
new.shape

(21, 8)

In [ ]:
'''2. Drop age and sex from the dataframe, use the column list for multiple columns

Comma is mandatory and you CAN NOT have a Tuple for passing column names
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
new=df.drop(['Age','Sex'],axis=1)
new.head()

In [1]:
'''2.1 How can i drop first 3 variables dynamically from a dataframe'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.drop(df.columns[:3],axis=1).head(2)

   Age  Date  Height  Weight ActLevel    Fee
0   27     1      72     168     HIGH   85.2
1   34     3      66     152     HIGH  124.8

In [1]:
'''2.2 How can i keep first 3 variables dynamically from a dataframe'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
new=df.drop(df.columns[3:],axis=1)
new.head(2)

     ID       Name Sex
0  2458  Murray, W   M
1  2462  Almers, C   F

In [2]:
'''2.2.1 Using the head method... we can solve it too
make sure to make it a list...
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.drop(list(df.head(0))[3:],axis=1).head(2)

     ID       Name Sex
0  2458  Murray, W   M
1  2462  Almers, C   F

In [ ]:
'''3. Keeping Columns

Keep only age in a new dataframe
There is no explicit method for Keeping columns....

The order is now given by you... rather than decided by Frame
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df[['Age']]
df.head(2)

In [ ]:
'''3.1 This would give a series and not a frame, that is why we use df[]'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.Age
print(type(df))

In [ ]:
'''4. Keep only age and name in a new dataframe
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
new=df[['Age','Name']]
new.head()

In [ ]:
'''5. Keep all the Numeric variables '''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
new=df._get_numeric_data()
new.head()

In [ ]:
'''5.1 Keep all the Character variables, we would need to use the select_dtypes function '''
import pandas as pd
import numpy as np
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
new=df.select_dtypes(exclude=[np.number])
new.head()

In [ ]:
'''5.1
You can even use the df.columns and the list comprehension for keeping column names that start with "A"
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df[[i for i in df.columns if i.startswith("A")]]

In [ ]:
'''5.1.2 Dropping columns with names starting with A
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.drop([i for i in df.columns if i.startswith("A")],axis=1)
df.head()

In [ ]:
'''5.3 keeping the columns starting with A or W, another approach
This uses the list comprehension and the df.columns :)
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df[[i for i in df.columns if i.startswith ("A") or i.startswith("W")]]
df

In [3]:
'''6. keeping columns that have name bigger than 3 bytes'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
a=df[[i for i in df.columns if len(i)>3]]
a.head(2)

        Name  Date  Height  Weight ActLevel
0  Murray, W     1      72     168     HIGH
1  Almers, C     3      66     152     HIGH

In [ ]:
'''7. keeping columns that have "i" or "I" in the name'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df[[i for i in df.columns if i.lower().find("i")!=-1]].head(2)

In [1]:
'''8. Both filters at same time'''
#If I need all customers with age above 40 and just id name age
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.query('Age>40')[["ID","Name","Age"]]

      ID          Name  Age
3   2523    Johnson, R   43
4   2539    LaMance, K   51
9   2568  Eberhardt, S   49
10  2571   Nunnelly, A   44
14  2578    Cameron, L   47
15  2579  Underwood, K   60
16  2584  Takahashi, Y   43
19  2589     Wilcox, E   41
20  2595     Warren, C   54