In [1]:
'''1. Identify all rows that are duplicate. This is for all rows and returns a boolean series
The3rd row is a complete duplicate that is why it is flagged as True

NODUP
'''
import pandas as pd
df = pd.DataFrame({'name': ['Jason', 'Amit', 'Amit'], 'age': [23, 42, 42]})
df.duplicated()

0    False
1    False
2     True
dtype: bool

In [1]:
'''1.1 keeping the duplicated data in a new frame
SAME AS DUPOUT
'''
import pandas as pd
df = pd.DataFrame({'name': ['Jason', 'Amit', 'Amit'], 'age': [23, 42, 42]})
new=df[df.duplicated()]
new

   name  age
2  Amit   42

In [2]:
'''2. Identify rows the are duplicate of Name, look at the difference, now the focus is only on name
In the above code the name and age both need to be same

NODUPKEY
'''
import pandas as pd
df = pd.DataFrame({'name': ['Amit', 'Amit', 'Amit'], 'age': [23, 42, 43]})
df.duplicated(subset=['name'])

0    False
1     True
2     True
dtype: bool

In [4]:
'''2.1 You can push these rows to new frame'''
import pandas as pd
df = pd.DataFrame({'name': ['Amit', 'Amit', 'Amit'], 'age': [23, 42, 43]})
new=df[df.duplicated(subset=['name'])]
new

   name  age
1  Amit   42
2  Amit   43

In [10]:
'''3. How many rows have complete duplicate values, it would return the count'''
import pandas as pd
df = pd.DataFrame({'name': ['Amit', 'Amit', 'Amit'], 'age': [23, 42, 42]})
df.duplicated().sum()

# You can calculate the percentage of duplicates as well, just like sum case in sql
pc=df.duplicated().sum()/df.duplicated().count()*100
pc

33.33333333333333

In [18]:
'''3.1 How many names have duplicate values'''
import pandas as pd
df = pd.DataFrame({'name': ['Amit', 'Amit', 'Amit'], 'age': [23, 42, 42]})
df.duplicated(subset=['name']).sum()

2

In [24]:
'''4. take out the duplicates from the frame to new frame'''
import pandas as pd
df = pd.DataFrame({'name': ['Amit', 'Amit', 'Amit'], 'age': [23, 42, 42]})
new=df[df.duplicated()]
new

   name  age
2  Amit   42

In [25]:
'''4.1 Take out the duplicates from the frame to new frame, just for name'''
import pandas as pd
df = pd.DataFrame({'name': ['Amit', 'Amit', 'Amit'], 'age': [23, 42, 42]})
new=df[df.duplicated(subset=['name'])]
new

   name  age
1  Amit   42
2  Amit   42

In [8]:
'''5. Separate the duplicates and non duplicates
Similar to OUT and DUPOUT in SAS :)
'''
import pandas as pd
df = pd.DataFrame({'name': ['Amit', 'Amit', 'Amit'], 'age': [23, 42, 42]})
du=df[df.duplicated()]
nondu=df[~df.duplicated()]
print(du,nondu)

   name  age
2  Amit   42    name  age
0  Amit   23
1  Amit   42