In [8]:
'''0.0 Help in the sort_values method in pandas'''
import pandas as pd
help pd.DataFrame.sort_values?

In [ ]:
'''1. Let's see how can we sort a frame in pandas by one variable in ascending 
we would need to call the function sort_values '''
import pandas as pd
df=pd.read_csv('C:\Users\ami13\Desktop\Amit_Python\9. Data Frames\admit.csv')
df=df.sort_values('Sex')
df.head(2)

In [7]:
'''1.1 You can use by as well'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.sort_values(by='Sex').head()

      ID            Name Sex  Age  Date  Height  Weight ActLevel     Fee
10  2571     Nunnelly, A   F   44    19      66     140     HIGH  149.75
1   2462       Almers, C   F   34     3      66     152     HIGH  124.80
2   2501  Bonaventure, T   F   31    17      61     123      LOW  149.75
3   2523      Johnson, R   F   43    31      63     137      NaN  149.75
18  2588         Ivan, H   F   22    20      63     139      LOW   85.20

In [ ]:
'''2. Let's sort by 2 variables in a data frame, primary and secondary
The first sorting is by Sex and then by Actlevel
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.sort_values(['Sex','ActLevel'])
df.head()

In [ ]:
'''2.01. How would you dynamically sort by 3rd and 8th variable'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.sort_values([v for i,v in enumerate(df.columns) if i in (2,7)])
df.head()

In [ ]:
'''2.0.1.1 You can use enumerate for the actual number with start value as 1'''

import pandas as pd
df=pd.read_csv(r'/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.sort_values([j for i,j in enumerate(df.columns,1) if i in (3,8)])

In [ ]:
'''2.02. How would you dynamically sort by 3rd and 7th variable.. any other way'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.sort_values([v for i,v in enumerate(df.head(0)) if i in (2,7)])
df.head()

In [ ]:
'''2.1 Guess the output for clarity, what would change?'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.sort_values(['ActLevel','Sex'])
df.head()

In [ ]:
'''3. Let's sort by 1 variable in descending way'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.sort_values(['Sex'],ascending=False)
df.head()

In [ ]:
'''4. Let's sort by 2 variable in descending way'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.sort_values(['Sex','ActLevel'],ascending=False)
df.head()

In [ ]:
'''5. Let's sort by 1 var asc and 2nd desc, True for Sex and False for Actlevel'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.sort_values(['Sex','ActLevel'],ascending=[True,False])
df.head()

In [ ]:
'''5.1 Even 1-0 is allowed'''
'''5. Let's sort by 1 var asc and 2nd desc, True for Sex and False for Actlevel'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df=df.sort_values(['Sex','ActLevel'],ascending=[1,0])
df.head()

In [ ]:
'''6. Sorting and overwriting same frame
inplace=True  would do that, the default values is False
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.sort_values('Sex', inplace=True)
df.head()

In [ ]:
'''7. Sorting by all the variables.. similar to _all_ in SAS'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.sort_values([i for i in df.columns]).head()

In [ ]:
'''7.1 Sorting by all the variables.. similar to _all_ in SAS and alternatively like 1 0 1 0'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.sort_values([i for i in df.columns],ascending=[1 if i%2==0 else 0 for i in range(9) ]).head()

In [2]:
'''8. you can also choose the position of missing values first as well'''
import pandas as pd
df=pd.read_csv(r'/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.sort_values('ActLevel',na_position="first").head(2)

     ID        Name Sex  Age  Date  Height  Weight ActLevel     Fee
3  2523  Johnson, R   F   43    31      63     137      NaN  149.75
0  2458   Murray, W   M   27     1      72     168     HIGH   85.20

In [3]:
'''8.1 you can also choose the position of missing values in last as well'''
import pandas as pd
df=pd.read_csv(r'/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.sort_values('ActLevel',na_position="last").head(2)

      ID       Name Sex  Age  Date  Height  Weight ActLevel   Fee
0   2458  Murray, W   M   27     1      72     168     HIGH  85.2
17  2586  Derber, B   M   25    23      75     188     HIGH  85.2