In [ ]:
'''1. what if the key vars have diff names in the 2 dataframes
In SAS we used to rename the primary key columns :)
'''
import pandas as pd
a = pd.DataFrame({
         'id':[1,2,3],
         'sub':['M','E','S']})
b = pd.DataFrame(
         {'stuid':[1,2,3],
         'marks':[100,52,99]})
pd.merge(a,b,how='inner',left_on=['id'], right_on=['stuid'])

In [ ]:
'''2. How to merge 2 or more frames in pandas
'''
import pandas as pd
a = pd.DataFrame({
         'id':[1,2,3],
         'sub':['M','E','S']})
b = pd.DataFrame(
         {'id':[1,2,3],
         'marks':[100,52,99]})

c = pd.DataFrame(
         {'id':[1,2,7],
         'grade':[1,3,1]})
pd.merge(pd.merge(a,b,on='id'),c,on='id')

In [ ]:
'''2.1 Guess the output
'''
import pandas as pd
a = pd.DataFrame({
         'id':[1,2,3],
         'sub':['M','E','S']})
b = pd.DataFrame(
         {'id':[1,2,3],
         'marks':[100,52,99]})

c = pd.DataFrame(
         {'id':[1,2,7],
         'grade':[1,3,1]})
pd.merge(pd.merge(a,b,on='id'),c,how="left",on='id')

In [ ]:
'''3. what if there are common values, does the merge over write them.
Just overwrites the common column or by one.
'''
import pandas as pd
a = pd.DataFrame({
         'id':[1,2,3],
         'name':['A','B','C'],
         'age':[12,13,14]})
b = pd.DataFrame(
         {'id':[1,2,3],
         'marks':[100,52,99],'age':[99,98,97]})
pd.merge(a,b,how='inner',on='id')

In [1]:
'''4. what if there are no common values...
Merge would behave like append..or concat vertically :)
'''
import pandas as pd
a = pd.DataFrame({
         'id':[1,2],
         'sub':['M','E']})
b = pd.DataFrame(
         {'id':[11,12],
         'marks':[100,52]})
pd.merge(a,b,how='outer',on='id')

   id  sub  marks
0   1    M    NaN
1   2    E    NaN
2  11  NaN  100.0
3  12  NaN   52.0