In [ ]:
'''1. We can use the concat method in pandas data frame to append 2 or more frames vartically'''
import pandas as pd
df1 = pd.DataFrame({'id': [1,2], 'age': [20,30]})
df2 = pd.DataFrame({'id': [1,2], 'age': [20,30]})
pd.concat([df1,df2])

In [3]:
'''1.1 Can we Reset the index
We can using the reset_index method
'''
import pandas as pd
df1 = pd.DataFrame({'id': [1,2], 'age': [20,30]})
df2 = pd.DataFrame({'id': [1,2], 'age': [20,30]})
pd.concat([df1,df2]).reset_index()

   index  id  age
0      0   1   20
1      1   2   30
2      0   1   20
3      1   2   30

In [ ]:
'''2. What if the column are different
Sort=False is sayingto keep the original structure... else it would sort the column names 

like age id marks
'''
import pandas as pd
df1 = pd.DataFrame({'id': [1,2], 'marks': [20,30]})
df2 = pd.DataFrame({'id': [1,2], 'age': [20,30]})
pd.concat([df1,df2],sort=False)

In [1]:
'''3. What if no columns are common.. be ready for lot of missing values :)
'''
import pandas as pd
df1 = pd.DataFrame({'id1': [1,2], 'marks': [20,30]})
df2 = pd.DataFrame({'id': [1,2], 'age': [20,30]})
pd.concat([df1,df2],sort=False)

   id1  marks   id   age
0  1.0   20.0  NaN   NaN
1  2.0   30.0  NaN   NaN
0  NaN    NaN  1.0  20.0
1  NaN    NaN  2.0  30.0

In [5]:
'''4. What if  I wish to append the frames vertically

The axis=1 would make sure the frames are append in vertical manner
'''
import pandas as pd
df1 = pd.DataFrame({'id1': [1,2], 'marks': [20,30]})
df2 = pd.DataFrame({'id': [1,2], 'age': [20,30]})
pd.concat([df1,df2],axis=1)

   id1  marks  id  age
0    1     20   1   20
1    2     30   2   30

In [9]:
'''5. Even we can use the append method'''
import pandas as pd
df1 = pd.DataFrame({'id': [1,2], 'age': [20,30]})
df2 = pd.DataFrame({'id': [1,2], 'age': [20,30]})
df3=df1.append(df2)
df3

   id  age
0   1   20
1   2   30
0   1   20
1   2   30