In [8]:
'''1. The Inner join or the explicit inner join'''
import pandas as pd
a = pd.DataFrame({
         'id':[3,1,21],
         'Name': ['a', 'b', 'c'],
         'sub':['M','E','S']})
b = pd.DataFrame(
         {'id':[1,2,3],
         'marks':[100,52,99]})
c=pd.merge(a,b)
c

   id Name sub  marks
0   3    a   M     99
1   1    b   E    100

In [9]:
'''1.1 The Inner join or the explicit inner join
The sort=True would give you the sorted output
'''
import pandas as pd
a = pd.DataFrame({
         'id':[3,1,21],
         'Name': ['a', 'b', 'c'],
         'sub':['M','E','S']})
b = pd.DataFrame(
         {'id':[1,2,3],
         'marks':[100,52,99]})
c=pd.merge(a,b, how='inner',on='id',sort=True)
c

   id Name sub  marks
0   1    b   E    100
1   3    a   M     99

In [4]:
'''2. Left Join for the frames, the left side table is the driver table'''
import pandas as pd
a = pd.DataFrame({
         'id':[1,2,3],
         'sub':['M','E','S']})
b = pd.DataFrame(
         {'id':[1,2,7],
         'marks':[100,52,99]})
c=pd.merge(a,b,how='left',on='id')
c

   id sub  marks
0   1   M  100.0
1   2   E   52.0
2   3   S    NaN

In [5]:
'''3. RIGHT Join for the frames, the left side table is the driver table'''
import pandas as pd
a = pd.DataFrame({
         'id':[1,2,3],
         'sub':['M','E','S']})
b = pd.DataFrame(
         {'id':[1,2,7],
         'marks':[100,52,99]})
c=pd.merge(a,b, how='right',on='id')
c

   id  sub  marks
0   1    M    100
1   2    E     52
2   7  NaN     99

In [7]:
'''4. Outer join or simply the full join
All rows would come in the output

If values are not matching then the NaN
'''
import pandas as pd
a = pd.DataFrame({
         'id':[1,2,3],
         'sub':['M','E','S']})
b = pd.DataFrame(
         {'id':[1,2,7],
         'marks':[100,52,99]})
c=pd.merge(a,b,how='outer',on='id')
c

   id  sub  marks
0   1    M  100.0
1   2    E   52.0
2   3    S    NaN
3   7  NaN   99.0