In [ ]:
'''1. reading csv : read_csv method for the same, the csv should have headers in the first row'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv')
df.head(2)

In [ ]:
'''1.1 A generic method of read_table can also be used for reading csv, 
this would need sep parameter to be passed a value

read_table() is depreciated and we should use read_csv: warning would come  .. ..... Warning
'''
import pandas as pd
new=pd.read_table('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv', sep=",")
new.head()

In [ ]:
'''1.2 How would you put top 5 observations from admit.csv to a new dataframe and confirm the same'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv').head()
df.shape

In [ ]:
'''2. Reading text files with header can be even achieved by read_csv'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.txt',sep=" ")
df.head()

In [ ]:
'''2.1 Reading text files with NO header information
Columns names need to be declared in the names option
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit1.txt',sep=" ",names=('id','name','age'))
df

In [1]:
'''2.1.1 What if you dnt give the names of columns...  any guesses what would happen'''

import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit1.txt',sep=" ")
df

   1  A  10
0  2  B  20

In [3]:
'''2.2 Reading text files with NO header information
Columns names need to be declared in the names option

You can even have names as 0,1,2

It needs a tuple basically... we can have the geneartor and then the tuple :0
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit1.txt',sep=" ",names=(tuple(i for i in range(3))))
df

   0  1   2
0  1  A  10
1  2  B  20

In [3]:
'''2.3 Reading text files with NO header information
Columns names need to be declared in the names option

You can even have names as f1,f2 and f3
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit1.txt',sep=" ",names=(['f'+str(i) for i in range(1,4)]))
df

   f1 f2  f3
0   1  A  10
1   2  B  20

In [ ]:
'''2.2 Text file can also be read using read_table'''
import pandas as pd
df=pd.read_table('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.txt',sep=" ")
df.head()

In [ ]:
'''3. Reading a TSV, Tab Separated Values file, using read_table'''
import pandas as pd
df=pd.read_table('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit3.txt',sep='\t')
df.head()

In [ ]:
'''3.1 Reading a TSV, Tab separated file, using read_csv'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit3.txt',sep='\t')
df.head()

In [4]:
'''4. Can I skip rows while reading a csv file in pandas, 
but the header info should be available in 3rd row, else the row would be read as column labels
the index starts from 3rd row
'''
import pandas as pd
df=pd.read_csv('/Users/AHAAN/Desktop/Amit_Python/9. data Frames/admit.csv',skiprows=2)
df.shape
df.head(2)

   2462       Almers, C  F  34   3  66  152 HIGH   124.8
0  2501  Bonaventure, T  F  31  17  61  123  LOW  149.75
1  2523      Johnson, R  F  43  31  63  137  NaN  149.75